.uk-card {
        box-shadow: 0 20px 20px rgba(0,0,0,.08);
    transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.uk-card:hover {
            box-shadow: 0 30px 30px rgba(0,0,0,.15);
            cursor: pointer;
}