 <html>
    <head>
        <title>Ubercat</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Estimate</h1>
            </div>
                <div id="content">
                    Hello, your starting lat is <strong>{{startLat}}</strong> and starting long is <strong>{{startLong}}</strong>. Your destination is <strong>{{dorms}}</strong> and <strong>{{numSeat}}</strong> seats will be occupied. The estimated price is $ {{estimate}} 
                </div>
           
            </div>
        </div>
    </body>
</html>
